/* body
--------------------------------------------------*/
body {
  background-repeat: no-repeat;
  background-position: 0% 0%;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
}

/* links
--------------------------------------------------*/
a {color:#666699; text-decoration: none;}

/* images
--------------------------------------------------*/

img {
vertical-align:middle;
border:0;
}

.headerColsTitle{
	color:#FFFFFF;
 	font-size:10px;
}

.headerColsSubTItle{
	color:#414F6E;
  	font-size:10px;
}

.headerColsBody{
	color:#000000;
  	font-size:14px;
}

.headerCols a:hover{
color:#E4F4FA;
/*background-color: #E4F4FA;*/
}

.pageTitle {
  font-size:18px;
  font-weight:bold;
}

.poweredFooter {
  font-size:10px;
  font-weight:bold;
}

.headBar{
  font-size:11px;
  font-weight:bold;
  color:#FFFFFF;
}
.navBar {
  font-size:11px;
  font-weight:bold;
  color:#FFFFFF;
}

.navBarSelected{
  font-size:11px;
  font-weight:bold;
  color:#FFFF99;
}

.navBarSelectedSub{
  font-size:11px;
  font-weight:bold;
  color:#FFFFCC;
}

.navBarLogin {
  font-size:10px;
  font-weight:bold;
  color:#414F6E;
}

.navBarFooter {
  font-size:11px;
  font-weight:bold;
  color:#2D3335;
}

.navBarPowered {
  font-size:11px;
  font-weight:bold;
  color:#2D3335;
}

.loadHide {
	display: none;
}


.filterTableSelect 
{
top:
  font-size:12px;
}

.filterTableCheckbox
{
  font-size:12px;
}


#info {display:block; position:relative; background:#000000;}

/* Inset 3D Raised */
.raised {background: transparent; margin:0 auto;}
.raised h1, .raised p {margin:0 10px;}
.raised h1 {font-size:2em; color:#fff; letter-spacing:1px;}
.raised p {padding-bottom:0.5em;}

.raised .top, .raised .bottom {display:block; background:transparent; font-size:1px;}
.raised .b1, .raised .b2, .raised .b3, .raised .b4, .raised .b1b, .raised .b2b, .raised .b3b, .raised .b4b {display:block; overflow:hidden;}
.raised .b1, .raised .b2, .raised .b3, .raised .b1b, .raised .b2b, .raised .b3b {height:1px;}
.raised .b2 {background:#000000; border-left:1px solid #000000; border-right:1px solid #000000;}
.raised .b3 {background:#000000; border-left:1px solid #000000; border-right:1px solid #000000;}
.raised .b4 {background:#000000; border-left:1px solid #000000; border-right:1px solid #000000;}
.raised .b4b {background:#000000; border-left:1px solid #000000; border-right:1px solid #000000;}
.raised .b3b {background:#000000; border-left:1px solid #000000 border-right:1px solid #000000;}
.raised .b2b {background:#000000; border-left:1px solid #000000; border-right:1px solid #000000;}


.raised .b1 {margin:0 5px; background:#000000;}
.raised .b2, .raised .b2b {margin:0 3px; border-width:0 2px;}
.raised .b3, .raised .b3b {margin:0 2px;}
.raised .b4, .raised .b4b {height:2px; margin:0 1px;}
.raised .b1b {margin:0 5px; background:#000000;}
.raised .boxcontent {display:block;  background:#000000; border-left:1px solid #000000; border-right:1px solid #000000;}



/* TOOLTIPS */

/* This is where you can customize the appearance of the tooltip */
div#tipDiv {
  position:absolute; visibility:hidden; left:0; top:0; z-index:10000;
  background-color:#dee7f7; border:1px solid #336; 
  width:250px; padding:4px;
  color:#000; font-size:11px; line-height:1.2;
}
/* These are optional. They demonstrate how you can individually format tooltip content  */
div.tp1 { font-size:12px; color:#336; font-style:italic }
div.tp2 { font-weight:bolder; color:#337; padding-top:4px }


.ProductTitle
{
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
}
.ProductText
{
	font-family: Verdana;
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}
.ProductRow1 {
	background-color: #E1E6F2;
}
.ProductRow2 {
	background-color: #FFFFFF;
}

.bgProductTable {
	background-color: #E1E6F2;
}

.bgProductTitle {
	background-color: #8CA5DD;
}


.ProductTitle0
{
	font-family: Verdana;
	font-size: 10px;
	font-style: bold;
	font-weight: bold;
	color: #000000;
}
.bgProduct0 {
	background-color: #8CA5DD;
}
.bgProductTitle0 {
	background-color: #E1E6F2;
}

.Product0Row1 {
	background-color: #FFFFFF;
}
.Product0Row2 {
	background-color: #F1F5FF;
}

.Product1Row1 {
	background-color: #FFFFFF;
}
.Product1Row2 {
	background-color: #FFFDD6;
}

.Product2Row1 {
	background-color: #FFFFFF;
}
.Product2Row2 {
	background-color: #FFF2DC;
}

.Product3Row1 {
	background-color: #FFFFFF;
}
.Product3Row2 {
	background-color: #FFECE4;
}

.Product4Row1 {
	background-color: #FFFFFF;
}
.Product4Row2 {
	background-color: #DFFFD4;
}


.ProductTitle1
{
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}
.bgProduct1 {
	background-color: #FCE100;
}
.bgProductTitle1 {
	background-color: #F3ED86;
}

.ProductTitle2
{
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}
.bgProduct2 {
	background-color: #ED9B4F;
}
.bgProductTitle2 {
	background-color: #ECD6AF;
}
.ProductTitle3
{
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}
.bgProduct3 {
	background-color: #FF7E43;
}

.bgProductTitle3 {
	background-color: #FDC3AA;
}
.ProductTitle4
{
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}
.bgProduct4 {
	background-color: #55BE47;
}

.bgProductTitle4 {
	background-color: #A5DB92;
}

.check {
	height: 10px;
	width: 10px;
}
.imageDetail {
	cursor: hand;
}.fields {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}
.button {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
}
